{% extends "master.html.twig" %}

{% block title %}Add todo{% endblock %}

{% block content %}
    <form method="post">
        Task: <input type="text" name="task" value="{{v.task}}"><br>
        Due date <input type="date" name="dueDate" value="{{v.dueDate}}"><br>
        Is done: <input type="checkbox" name="isDone" {# TODO checked #}><br>
        <input type="submit" value="Add todo">
    </form>
{% endblock %}
